* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
    color: aliceblue;
    background-color: black;
  }
  
  h1 {
    border-bottom: 0.5px solid grey;
    width: 100%;
    /* display: flex;
    justify-content: center; */
    padding: 1rem;
  }
  #searchBar{
    width: 250px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
  }